{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/splash.css" />
{% endblock %}
{% block content %}

<video autoplay loop poster="polina.jpg" id="bgvid">
  <source src="../static/media/bard.mp4" type="video/mp4">
</video>
<div class="site-wrapper">

 <div class="site-wrapper-inner">

   <div class="cover-container">
     <div class="jumbotron">
       <div class="inner cover">
         <div class="input-group">
           <input type="text" class="form-control" aria-label="...">
           <div class="input-group-btn">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"> Search</i> <span class="caret"></span></button>
                 <ul class="dropdown-menu dropdown-menu-right" role="menu">
                   <li><a href="#">Action</a></li>
                   <li><a href="#">Another action</a></li>
                   <li><a href="#">Something else here</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Separated link</a></li>
                 </ul>
             </div><!-- /btn-group -->
           </div><!-- /input-group -->
       <br />
       <div class="alert alert-warning" role="alert">
         This site is under heavy development ( some things dont work ) view the <a href="https://github.com/Sadin/ritoPLS" class="alert-link">Source</a> on github.
       </div>
     </div>
     </div>
     <div class="mastfoot">
       <div class="inner">

       </div>
     </div>

   </div>

 </div>

</div>
{% endblock %}
