{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
	    <form class="form" action="{{ url_for('summoner') }}" method="POST">
	    	<div  class="form-item">
		    	<input type="text" name="name" placeholder="Summoner Name" autofocus>
		    	<a type="submit" class="btn btn-search bg-red" ><li class="fa fa-search"></li></a>
		    </div>
	    </form>
{% endblock %}

{% block gutters %}					
					<div class="column-8">
						<h3>Heading</h3>

	                    <p>This is a short description for one of the three columns on our homepage.</p>
                    </div>

                    <div class="column-8">
	                    <h3>Heading</h3>

	                    <p>This is a short description for one of the three columns on our homepage.</p>
	                </div>
{% endblock %}